<div class="card-chapter d-flex">
    <div class="card-chapter-title d-flex justify-content-center align-items-center">
        {{ chapter.title }}
    </div>
    <div class="card-chapter-link d-flex justify-content-center align-items-center">
        <a href="">voir</a>
    </div>
</div>