<div class="card-chapter d-flex">
    <div class="card-chapter-title d-flex justify-content-center align-items-center">
        {{ chapter.title }}
    </div>
    <div class="card-chapter-link d-flex justify-content-center align-items-center">
        <a href="{{ path('app_subjects_subject', {'subject': chapter.id}) }}">voir</a>
    </div>
</div>