<footer class="d-flex justify-content-center">
    <div class="d-flex align-items-end">
        <img id="logo-footer" src="{{ asset('build/images/logo_ten_header.png') }}" alt="logo du site">
        <h6>tenschool</h6>
    </div>
</footer>