<header>
    <nav class="navbar pe-3">
        <div class="d-flex align-items-center nav-title">
            <img src="{{ asset('build/images/logo_ten_header.png') }}" alt="logo du site">
            <a href="{{ path('app_home') }}"><span class="title-bicolor-light">ten</span><span
                        class="title-bicolor-dark">school</span></a>
        </div>
        <div>
            <ul class="d-flex">
                <li><a href="{{ path('app_subjects_subject', {subject: 1}) }}">Leçons</a></li>
                {% if not app.user %}
                    <li><a class="btn-regular-green" href="{{ path('app_login') }}">se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>