<header>
    <nav class="navbar">
        <div class="d-flex align-items-center">
            <img src="{{ asset('build/images/logo_ten_header.png') }}" alt="logo du site">
            <a href="{{ path('app_home') }}"><span class="title-bicolor-light">ten</span><span class="title-bicolor-dark">school</span></a>
        </div>
    </nav>
</header>