<nav class="nav-office">
    <div class="nav-office-header d-flex align-items-center flex-column">
        <a href="{{ path('app_home') }}"><img src="{{ asset('build/images/ten_logo.png') }}" alt=""></a>
        <p>tenschool</p>
        <p>Back-office</p>
    </div>
    <ul class="nav-office-menu mt-4">
{#        <nav-office-component></nav-office-component>#}
        <li class="nav-office-item"><a class="nav-office-link {% if app.request.pathInfo == '/admin/lesson' %}active{% endif %}" href="{{ path('app_admin_lesson') }}">Leçons</a></li>
        <li class="nav-office-item"><a class="nav-office-link {% if app.request.pathInfo == '/admin/classroom' %}active{% endif %}" href="{{ path('app_admin_classroom') }}">Classes</a></li>
    </ul>
</nav>