{% extends 'base.html.twig' %}

{% block title %}Matière{% endblock %}

{% block body %}
    <div class="nav-subjects-all d-flex position-relative">
        <nav class="nav-subjects d-flex flex-column justify-content-end text-end">
            <ul>
                {% for s in subjects|sort((a,b) => b.id <=> a.id) %}
                    {% if s.subject is empty %}
                        <li class="nav-subjects-link pe-5 {% if subject.id == s.id %}subject-active{% endif %}"><a
                                    href="{{ path('app_subjects_subject', {'subject': s.id}) }}">{{ s.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div class="d-flex align-items-center">
            <div class="btn-nav-subjects d-flex justify-content-center align-items-center">
                <img id="nav-subjects-caret-right" src="{{ asset('build/images/caret-right-dark.png') }}" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        {% if subject.subjects is not empty %}
            <h3 class="mt-5">Chapitres</h3>
            {% for chapter in subject.subjects %}
                {% include 'partials/card_chapter.html.twig' %}
            {% endfor %}
        {% endif %}
        {% if subject.lessons is not empty %}
            <h3 class="mt-5">Leçons</h3>
            {% for lesson in subject.lessons %}
                {% include 'partials/card_lesson.html.twig' %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}