{% extends 'base.html.twig' %}

{% block title %}Matière{% endblock %}

{% block body %}
    <div class="nav-subjects-all d-flex position-relative">
        <nav class="nav-subjects">

        </nav>
        <div class="btn-nav-subjects"></div>
    </div>
    <div class="container">
        {% if subject.subjects is not empty %}
            <h3 class="mt-5">Chapitres</h3>
            {% for chapter in subject.subjects %}
                {% include 'partials/card_chapter.html.twig' %}
            {% endfor %}
        {% endif %}
        <h3 class="mt-5">Leçons</h3>
        {% for lesson in subject.lessons %}
            {% include 'partials/card_lesson.html.twig' %}
        {% endfor %}
    </div>
    <div class="test">

    </div>
{% endblock %}