{% extends 'base.html.twig' %}

{% block title %}Matière{% endblock %}

{% block body %}
    <div class="container mb-5">
        {#        {{ dump(subject.subject.subjects) }} #}
        {% if subject.subject.subjects is defined %}
            {% for chapter in subject.subject.subjects %}
                {% for lesson in chapter.lessons %}
                    {% for classroom in lesson.classrooms %}
                        {% if classroom.id == app.user.classroom.id %}
                            <h3 class="mt-5">Chapitres</h3>
                            {% include 'partials/card_chapter.html.twig' %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% if subject.subject.lessons is not empty %}
            {% for lesson in subject.subject.lessons %}
                {% for classroom in lesson.classrooms %}
                    {% if classroom.id == app.user.classroom.id %}
                        <h3 class="mt-5">Leçons</h3>
                        {% include 'partials/card_lesson.html.twig' %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}