@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

// colors
$lightGreen: #AED6BF;
$regularGreen: #68BC8D;
$darkGreen: #1B4332;
$light: #EDF2F4;

// height & width
$navbarHeight: 100px;

* {
  margin: 0;
  padding: 0 !important;
}

h3, h4, h5 {
  font-weight: 700;
}

body {
  font-family: 'Baloo 2', cursive;
  color: $darkGreen;
  font-weight: 500;
  background-color: $light;
  padding-top: $navbarHeight !important;

  a {
    text-decoration: none;
  }
}

.navbar {
  height: $navbarHeight;
  border-bottom: $regularGreen 5px solid;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  img {
    height: 100px;
  }

  a {
    font-size: 30px;
    font-weight: 800;

    .title-bicolor-light {
      color: $regularGreen;
    }


    .title-bicolor-dark {
      color: $darkGreen;
    }
  }
}

.card-lesson {
  background: $lightGreen;
  border-radius: 15px;
  box-shadow: inset 22px 22px 12px #a9d0b9,
  inset -22px -22px 12px #b3dcc5;

  h5 {
    color: $light;
  }

  .date-created {
    font-weight: 400;
  }
}

.card-chapter {
  background-color: $regularGreen;
  color: $light;
  $width: 300px;
  width: $width;
  height: 70px;
  border-radius: 70px;
  box-shadow:  4px 4px 4px rgba(104, 188, 141, 0.34),
  -4px -4px 10px #fff;

  a {
    color: $light;
    width: auto;
  }

  .card-chapter-title {
    width: $width*2 / 3;
    border-right: solid 2px $light;
    font-size: 25px;
  }

  .card-chapter-link {
    width: $width / 3;
    font-weight: 400;
    font-size: 16px;
  }
}

.test {
  height: 1500px;
}