@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

// colors
$lightGreen: #AED6BF;
$lightGreenAlpha: rgba(174, 214, 191, 0.3);
$regularGreen: #68BC8D;
$yellow: #93d74b;
$yellowAlpha: rgba(147, 215, 75, 0.18);
$regularGreenAlpha: rgba(104, 188, 141, 0.9);
$darkGreen: #1B4332;
$darkGreenAlpha: rgba(27, 67, 50, 0.9);
$light: #EDF2F4;

// height & width
$navbarHeight: 10vh;
$footerHeight: 25vh;
$navOfficeWidth: 16vw;

@import "office";

* {
  margin: 0;
  padding: 0 !important;
}

h1 {
  font-weight: 900;
  font-size: 4.2rem;
  line-height: 1;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 1.9rem;
}

h3, h4, h5 {
  font-weight: 700;
}

ul {
  margin: 0;
}

hr {
  margin: 0 !important;
}

.office-icon {
  width: 18px;
}

body {
  font-family: 'Baloo 2', cursive;
  color: $darkGreen;
  font-weight: 500;
  background-color: $light;
  padding-top: $navbarHeight !important;

  main {
    min-height: 100vh - $navbarHeight - $footerHeight;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

.navbar {
  height: $navbarHeight;
  border-bottom: $regularGreen 5px solid;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;

  .profil-dropdown-button {
    cursor: pointer;
  }

  .profil-dropdown-menu {
    background-color: $regularGreen;
    padding: 5px 10px !important;
    right: 0;
    top: 100%;
    opacity: 100%;
    animation: dropdown 200ms ease-in;

    @keyframes dropdown {
      0% {
        opacity: 0;
      }
      35% {
        opacity: 10%;
      }
      100% {
        opacity: 100%;
      }
    }

    li {
      padding: 5px 20px !important;
    }

    hr {
      margin: 0 !important;
    }
  }

  .nav-title {
    height: 10vh;
  }

  img {
    height: 100px;
  }

  a {
    font-size: 30px;
    font-weight: 800;

    .title-bicolor-light {
      color: $regularGreen;
    }


    .title-bicolor-dark {
      color: $darkGreen;
    }
  }

  li {
    margin: 0 10px;

    a {
      color: $darkGreen;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .btn-regular-green {
    color: $light;
    height: 70px;
    padding: 5px 18px !important;
    border-radius: 70px;
    background-color: $regularGreen;
  }
}

.card-lesson {
  background: $lightGreen;
  border-radius: 15px;
  box-shadow: inset 22px 22px 12px #a9d0b9,
  inset -22px -22px 12px #b3dcc5;

  h5 {
    color: $light;
  }

  .date-created {
    font-weight: 400;
  }
}

.card-chapter {
  background-color: $regularGreen;
  color: $light;
  $width: 300px;
  width: $width;
  height: 70px;
  border-radius: 70px;
  box-shadow: 4px 4px 4px rgba(104, 188, 141, 0.34),
  -4px -4px 10px #fff;

  a {
    color: $light;
    width: auto;
  }

  .card-chapter-title {
    width: $width*2 / 3;
    border-right: solid 2px $light;
    font-size: 25px;
  }

  .card-chapter-link {
    width: $width / 3;
    font-weight: 400;
    font-size: 16px;
  }
}

.nav-subjects-all {
  position: fixed !important;
  top: $navbarHeight;
  transform: translateX(-500px);
  transition: 250ms ease-out;
  z-index: 1000;

  .nav-subjects {
    min-height: (100vh - $navbarHeight);
    width: 500px;
    background-color: $regularGreenAlpha;
    backdrop-filter: blur(4px);
    box-shadow: $darkGreen 4px 0 15px;

    .nav-subjects-link {
      .active {
        background-color: $darkGreen;
        border-right: 5px solid $yellow;
        color: $yellow;
      }

      a {
        width: 100%;
        display: inline-block;
      }
    }

    li {
      font-weight: 500;
      font-size: 28px;
      padding-right: 30px;
      height: 50px;

      //&:not(.active):hover {
      //  background-color: $lightGreen;
      //  opacity: 0.3;
      //  filter: brightness(1.3);
      //}

      a {
        color: $darkGreen;
      }
    }
  }

  .btn-nav-subjects {
    left: 500px;
    height: 80px;
    width: 30px;
    background-color: $regularGreenAlpha;
    border-radius: 0 10px 10px 0;
  }
}

.left-nav-subjects {
  transform: translateX(0);
}

.turn-carret-open {
  transform: rotate(180deg);
}

footer {
  height: $footerHeight;
  background-color: $darkGreen;
  color: $regularGreen;
  position: relative;
  bottom: 0;

  #logo-footer {
    height: 40px;
  }
}

#login {
  height: 100vh - $navbarHeight;
  background: url("../images/logo_ten_header.png") no-repeat center;

  form {
    left: 50vw;
    margin-left: 5%;
  }

  input {
    width: 400px;
    height: 50px;
    border-radius: 80px;
    margin: 10px;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.25), inset 4px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 0 15px !important;
  }

  button {
    background: $darkGreen;
    color: $light;
    width: 400px;
    height: 50px;
    border: none !important;
    border-radius: 80px;
    margin: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}

.home-welcome {
  height: 400px;
  margin: 200px 0;
  background: url("../images/ten_logo.png") no-repeat center;
  background-size: contain;

  div {
    width: 65%;
  }
}

.home-accordeon {
  //height: 80px;
  color: #fff;

  .home-accordion-container {
    background: $lightGreen;
    border-radius: 40px;
    min-height: 80px;
  }

  .home-accordion-title {
    height: 80px;
    width: 100%;
    background: $regularGreen;
    border-radius: 80px;
    padding: 0 25px !important;
    z-index: 2;
  }

  .home-accordion-content {
    //background: $lightGreen;
    color: $darkGreen;
    //top: 0;
    //left: 0;
    padding-top: 50px !important;
    z-index: 1;
    border-radius: 40px;
  }

  svg {
    transform: rotate(45deg);
    cursor: pointer;
    font-size: 10rem;
  }

  .svg-active {
    transform: rotate(0deg);
    transition: 300ms ease;
  }
}

.profile-page {
  min-height: 100vh - $navbarHeight - $footerHeight !important;

  .profile-container {

    .profile-image-container {
      background-color: #0c4a6e;
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }

    .profile-infos-edit-container a {
      height: 40px;
      width: auto;
      background-color: $darkGreen;
      color: $light;
      padding: 0 25px !important;
      border-radius: 50px;
    }
  }
}

.classroom-page {
  min-height: 100vh - $navbarHeight - $footerHeight;
}

.tests-page {
  min-height: 100vh - $navbarHeight - $footerHeight;

  .card-test {
    border-left: 15px solid $darkGreen;
  }

  .card-new-test {
    background-color: $darkGreen;
    color: $light;
    //height: 50px;
    padding: 0 15px !important;

    .lil {
      color: $yellow;
      font-size: 0.8rem;
      font-weight: lighter;
    }

    a {
      color: $yellow;
      text-decoration: underline;
    }
  }
}

.test-page {
  min-height: 100vh - $navbarHeight - $footerHeight;

  .test-page-content {
    width: 100%;

    textarea {
      width: 100%;
      height: 220px;
      border-radius: 25px;
      background: $lightGreen;
      border: none;
      padding: 15px 25px !important;
      margin: 10px 0;
    }

    label, h4 {
      text-align: right;
      line-height: 1;
    }

    label {
      font-size: 1.7rem;
    }

    .button-test {
      background: $darkGreen;
      color: $light;
      width: 400px;
      height: 50px;
      border: none !important;
      border-radius: 80px;
      margin: 10px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }
  }
}