{% extends 'base-back.html.twig' %}

{% block title %}Tableau de bord - Tenschool{% endblock %}

{% block body %}
    <div>
        <h1>
            coucou coucou coucou
        </h1>
    </div>
{% endblock %}